





h1, p{
margin-left:auto;
margin-right:auto;
}

table, td{
border: 1px solid black;
margin-left:auto;
margin-right:auto;
}


#theList{
  border: 1px solid black;
  margin-left:auto;
  margin-right:auto;
  list-style-type: none;

}

#search{
  margin-top: -2px;
}


#theList li a:hover:not(.header)
{
    background-color: #eee;

}
#theList li a{
    margin-top:-3px;
}
