body{
    text-align: center;
}

#logButton:hover{
    cursor: pointer;
}

.login-input{
    padding: 8px;
}

label {
    padding-right: 12px;
}

.login-link{
    padding: 8px;
}

.Login-Title h1{
    color: #00bc8c;
    padding-top:1%;
}

#login-banner{
    padding-top:2%;
}