



.create-playlist{
  padding: 8px;
}
.buttonc{
  text-align:right;
}
body{
  text-align:center;
  padding: 20px;
}
}
h1, p{
margin-left:auto;
margin-right:auto;
}

table, td{
border: 1px solid black;
margin-left:auto;
margin-right:auto;
}


.songArtist{
  margin-right:20px;
}
#theList{
  border: 1px;
  margin-left:auto;
  margin-right:auto;
  list-style-type: none;
}

#search{
  padding: 8px;
}

.fPlaylist{
  padding:8px;
}

.pTitle{
  color: MediumSeaGreen;
}

#theList li a:hover:not(.header)
{
    background-color: #eee;

}
#theList li a{
    margin-top:-3px;
}
