<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MusicPlaya</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/dashboard.css">
    </head>

    <body>
        <div class="header">
            <h1>Welcome to MusicPlaya</h1>
            <div class="dashboard_menu_type">
                <p class="song_menu">Songs</p>
                <p class="playlist_menu">Playlists</p>
            </div> 
        </div>
        <div class="btn-newPlaylist">
            <input type="search" id="playlist_search" placeholder="Search for Playlist">
            <button onclick="searchPlaylist()">Search</button>
            <p> or </p>
            <button onclick="createNewPlaylist()">Create Playlist</button>
        </div>
        <div class="music_search">
            <input type="search" id="search_song" placeholder="Search For Songs..." onkeydown="search()">
            <!-- <button type="submit" id="search_song_button" onclick="searchForSongs()">Search</button> -->
        </div>
        <div class="music_playlist_results_player">
            <div class="music_playlist_results">
                <ul>
                    <!-- dynamically created li goes here -->
                </ul>
            </div>
            <div class="music_player">
                <div class="song_title" id="song_title"></div>
                <div class="artist_name" id="artist_name"></div>
                <div class="player_buttons" id="player_buttons">
                    <audio controls id="music">
                        <!-- dynamically created src for each song file -->
                    </audio>
                </div>
            </div>
        </div>
    </body>
    <script src="../service/searchAllSongs.js"></script>
</html>
