<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="playlist.css">
  <title>Playlist</title>

</head>
<body>

  <input align=center  type="text" class="myText" id="myText" value="Enter Playlist Name...">
  <p> Enter here to create or change the playlist name </p>
  <button onclick="selectName()" id="saveP"> Save Playlist Name </button>

  <h1 align=center class="pTitle" id="pTitle">Playlist Title</h1>

  <div id ="table">
    <table class="songList" id="songList">
      <!-- <tr>
      <td><p>Song Title</p></td>
      <td><p>Artist</p></td>
      <td><input type="button" value="Remove Song" onclick="DeleteSongFunction()"></td>
    </tr> -->
    <tbody></tbody>
  </table>
</div>
<div class="search" id="search" align="center">
  <input type="text" id="myInput" onkeyup="filterSongs()" placeholder="Search for songs.." title="Type in a song"
  onkeypress="showSongs()">
</div>


<div class ="list" id="list" style="display: none;">
  <ul id="theList" align="center">
    <li><a href="" id="songArtist" class="songArtist">Tyrone Schlecht</a> <a href="" id="songName" class="songName">Sweet Home Alabama</a> <button id="inp1" onclick="inp()" value="Input">Add Song</button>

    </li>
    <li><a href="" id="songArtist" class="songArtist">Javier Ress</a>  <a href="" id="songName" class="songName">Splash Mountain</a>
      <button id="inp1" onclick="inp()" value="Input">Add Song</button>
      <li><a href="" id="songArtist" class="songArtist">Carlene Tomes</a>
        <button id="inp1" onclick="inp()" value="Input">Add Song</button>
      </li>

      <li><a href="" id="songArtist" class="songArtist">Neil Aigner</a> <a href="" id="songName" class="songName"> Tomorrow</a> <button id="inp1" onclick="inp()" value="Input">Add Song</button>
      </li>
      <li><a href="" id="songArtist" class="songArtist">Nita Schreffler</a> <button id="inp1" onclick="inp()" value="Input">Add Song</button>
      </li>
      <li><a href="" id="songArtist" class="songArtist">Clinton Knuckles</a> <button id="inp1" onclick="inp()" value="Input">Add Song</button>
      </li>
      <li><a href="" id="songArtist" class="songArtist">Eve Kellett</a> <button id="inp1" onclick="inp()" value="Input">Add Song</button>
      </li>
      <li><a href="" id="songArtist" class="songArtist">Jamie Kaspar</a> <button id="inp1" onclick="inp()" value="Input">Add Song</button>
      </li>
      <li><a href="" id="songArtist" class="songArtist">Emilia Hooton</a> <button id="inp1" onclick="inp()" value="Input">Add Song</button>
      </li>
      <li><a href="" id="songArtist" class="songArtist">Kenya Sidney</a> <button id="inp1" onclick="inp()" value="Input">Add Song</button>
      </li>
    </ul>
  </div>

  <div class ="savePlaylist" align="center">
    <button id="save"> Save Playlist </button>
  </div>




<script src="../service/playlist_frontend.js"></script>
</body>
</html>
